<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />

    <alias alias="AuditLoggingAroundAdvice" type="Happibook.Core.Aspect.AuditLoggingAroundAdvice, Happibook.Core" />

    <!-- Start RequestInfo context type alias -->
    <alias alias="ISSHRequestInfo" type="Happibook.Core.Infrastructure.ISSHRequestInfo, Happibook.Core" />
    <alias alias="RequestInfo" type="Happibook.API.Infrastructure.RequestInfo, Happibook.API" />
    <!-- End RequestInfo context type alias -->

    <alias alias="ApplicationUserStore" type="Happibook.Core.Infrastructure.ApplicationUserStore, Happibook.Core" />
    <alias alias="ApplicationUserManager" type="Happibook.Core.Infrastructure.ApplicationUserManager, Happibook.Core"/>

    <alias alias="ApplicationRoleManager" type="Happibook.Core.Infrastructure.ApplicationRoleManager, Happibook.Core" />
    <alias alias="ApplicationRoleStore" type="Happibook.Core.Infrastructure.ApplicationRoleStore, Happibook.Core"/>

    <alias alias="IExceptionHelper" type="Happibook.Core.Infrastructure.IExceptionHelper, Happibook.Core" />
    <alias alias="ExceptionHelper" type="Happibook.API.Infrastructure.ExceptionHelper, Happibook.API"/>

    <alias alias="IHangfireIntegeration" type="Happibook.Core.Infrastructure.IHangfireIntegeration, Happibook.Core" />
    <alias alias="HangfireIntegeration" type="Happibook.API.Infrastructure.HangfireIntegeration, Happibook.API"/>

    <!-- Start User-defined type alias for UnitOfWork -->
    <alias alias="ISSHUnitOfWork" type="Happibook.Core.IRepository.ISSHUnitOfWork, Happibook.Core" />
    <alias alias="UnitOfWork" type="Happibook.Repository.UnitOfWork, Happibook.Repository" />
    <!-- End User-defined type alias for UnitOfWork -->

    <!-- Start User-defined type aliases for Repositories -->
    <alias alias="IAuditRepository" type="Happibook.Core.IRepository.IAuditRepository, Happibook.Core" />
    <alias alias="AuditRepository" type="Happibook.Repository.AuditRepository, Happibook.Repository" />

    <alias alias="IUserRepository" type="Happibook.Core.IRepository.IUserRepository, Happibook.Core" />
    <alias alias="UserRepository" type="Happibook.Repository.UserRepository, Happibook.Repository" />

    <alias alias="IEmailNotificationRepository" type="Happibook.Core.IRepository.IEmailNotificationRepository, Happibook.Core" />
    <alias alias="EmailNotificationRepository" type="Happibook.Repository.EmailNotificationRepository, Happibook.Repository" />

    <!--<alias alias="IOTPRepository" type="Happibook.Core.IRepository.IOTPRepository, Happibook.Core" />
    <alias alias="OTPRepository" type="Happibook.Repository.OTPRepository, Happibook.Repository" />-->

    <alias alias="IPushNotificationRepository" type="Happibook.Core.IRepository.IPushNotificationRepository, Happibook.Core" />
    <alias alias="PushNotificationRepository" type="Happibook.Repository.PushNotificationRepository, Happibook.Repository" />

    <alias alias="ILOVRepository" type="Happibook.Core.IRepository.ILOVRepository, Happibook.Core" />
    <alias alias="LOVRepository" type="Happibook.Repository.LOVRepository, Happibook.Repository" />

    <alias alias="IUserRolePermissionRepository" type="Happibook.Core.IRepository.IUserRolePermissionRepository, Happibook.Core" />
    <alias alias="UserRolePermissionRepository" type="Happibook.Repository.UserRolePermissionRepository, Happibook.Repository" />

    <alias alias="IRoleRepository" type="Happibook.Core.IRepository.IRoleRepository, Happibook.Core" />
    <alias alias="RoleRepository" type="Happibook.Repository.RoleRepository, Happibook.Repository" />

    <alias alias="IPermissionRepository" type="Happibook.Core.IRepository.IPermissionRepository, Happibook.Core" />
    <alias alias="PermissionRepository" type="Happibook.Repository.PermissionRepository, Happibook.Repository" />

    <alias alias="IUserSessionRepository" type="Happibook.Core.IRepository.IUserSessionRepository, Happibook.Core" />
    <alias alias="UserSessionRepository" type="Happibook.Repository.UserSessionRepository, Happibook.Repository" />

    <alias alias="ISettingRepository" type="Happibook.Core.IRepository.ISettingRepository, Happibook.Core" />
    <alias alias="SettingRepository" type="Happibook.Repository.SettingRepository, Happibook.Repository" />

    <alias alias="ICityRepository" type="Happibook.Core.IRepository.ICityRepository, Happibook.Core" />
    <alias alias="CityRepository" type="Happibook.Repository.CityRepository, Happibook.Repository" />

    <alias alias="ICountryRepository" type="Happibook.Core.IRepository.ICountryRepository, Happibook.Core" />
    <alias alias="CountryRepository" type="Happibook.Repository.CountryRepository, Happibook.Repository" />

    <alias alias="ICurrencyRepository" type="Happibook.Core.IRepository.ICurrencyRepository, Happibook.Core" />
    <alias alias="CurrencyRepository" type="Happibook.Repository.CurrencyRepository, Happibook.Repository" />

    <alias alias="ILisenceRepository" type="Happibook.Core.IRepository.ILisenceRepository, Happibook.Core" />
    <alias alias="LisenceRepository" type="Happibook.Repository.LisenceRepository, Happibook.Repository" />

    <alias alias="IRoleCategoryRepository" type="Happibook.Core.IRepository.IRoleCategoryRepository, Happibook.Core" />
    <alias alias="RoleCategoryRepository" type="Happibook.Repository.RoleCategoryRepository, Happibook.Repository" />

    <!-- End User-defined type aliases for Repositories -->

    <!-- Start User-defined type aliases for Services -->
    <alias alias="IAuditService" type="Happibook.Core.IService.IAuditService, Happibook.Core" />
    <alias alias="AuditService" type="Happibook.Service.AuditService, Happibook.Service" />

    <alias alias="IUserService" type="Happibook.Core.IService.IUserService, Happibook.Core" />
    <alias alias="UserService" type="Happibook.Service.UserService, Happibook.Service" />

    <alias alias="IConfigurationService" type="Happibook.Core.IService.IConfigurationService, Happibook.Core" />
    <alias alias="ConfigurationService" type="Happibook.Service.ConfigurationService, Happibook.Service" />

    <!--<alias alias="IEmailNotificationService" type="Happibook.Core.IService.IEmailNotificationService, Happibook.Core" />
    <alias alias="EmailNotificationService" type="Happibook.Service.EmailNotificationService, Happibook.Service" />-->

    <alias alias="IPushNotificationService" type="Happibook.Core.IService.IPushNotificationService, Happibook.Core" />
    <alias alias="PushNotificationService" type="Happibook.Service.PushNotificationService, Happibook.Service" />

    <alias alias="ILOVService" type="Happibook.Core.IService.ILOVService, Happibook.Core" />
    <alias alias="LOVService" type="Happibook.Service.LOVService, Happibook.Service" />

    <alias alias="IAuthService" type="Happibook.Core.IService.IAuthService, Happibook.Core" />
    <alias alias="AuthService" type="Happibook.Service.AuthService, Happibook.Service" />

    <alias alias="IUserRolePermissionService" type="Happibook.Core.IService.IUserRolePermissionService, Happibook.Core" />
    <alias alias="UserRolePermissionService" type="Happibook.Service.UserRolePermissionService, Happibook.Service" />

    <alias alias="IRoleService" type="Happibook.Core.IService.IRoleService, Happibook.Core" />
    <alias alias="RoleService" type="Happibook.Service.RoleService, Happibook.Service" />

    <alias alias="IPermissionService" type="Happibook.Core.IService.IPermissionService, Happibook.Core" />
    <alias alias="PermissionService" type="Happibook.Service.PermissionService, Happibook.Service" />

    <alias alias="IUserSessionService" type="Happibook.Core.IService.IUserSessionService, Happibook.Core" />
    <alias alias="UserSessionService" type="Happibook.Service.UserSessionService, Happibook.Service" />

    <alias alias="ILisenceService" type="Happibook.Core.IService.ILisenceService, Happibook.Core" />
    <alias alias="LisenceService" type="Happibook.Service.LisenceService, Happibook.Service" />

    <alias alias="ISettingService" type="Happibook.Core.IService.ISettingService, Happibook.Core" />
    <alias alias="SettingService" type="Happibook.Service.SettingService, Happibook.Service" />

    <alias alias="ICityService" type="Happibook.Core.IService.ICityService, Happibook.Core" />
    <alias alias="CityService" type="Happibook.Service.CityService, Happibook.Service" />

    <alias alias="ICountryService" type="Happibook.Core.IService.ICountryService, Happibook.Core" />
    <alias alias="CountryService" type="Happibook.Service.CountryService, Happibook.Service" />

    <alias alias="ICurrencyService" type="Happibook.Core.IService.ICurrencyService, Happibook.Core" />
    <alias alias="CurrencyService" type="Happibook.Service.CurrencyService, Happibook.Service" />
    
    <alias alias="IRoleCategoryService" type="Happibook.Core.IService.IRoleCategoryService, Happibook.Core" />
    <alias alias="RoleCategoryService" type="Happibook.Service.RoleCategoryService, Happibook.Service" />
    
    <!-- End User-defined type aliases for Services -->

    <container>
      <extension type="Interception" />
      <register type="ISSHRequestInfo" mapTo="RequestInfo" >
        <lifetime type="singleton"/>
      </register>
      <register type="ApplicationUserStore" mapTo="ApplicationUserStore" >
        <constructor>
          <param name="requestInfo" type="ISSHRequestInfo" />
        </constructor>
      </register>
      <register type="ApplicationRoleStore" mapTo="ApplicationRoleStore" >
        <constructor>
          <param name="requestInfo" type="ISSHRequestInfo" />
        </constructor>
      </register>

      <register type="ApplicationRoleManager" mapTo="ApplicationRoleManager" />
      <register type="ApplicationUserManager" mapTo="ApplicationUserManager" />
      <register type="IExceptionHelper" mapTo="ExceptionHelper" />
      <register type="IHangfireIntegeration" mapTo="HangfireIntegeration" />
      <register type="ISSHUnitOfWork" mapTo="UnitOfWork" />
      <register type="IAuditRepository" mapTo="AuditRepository" />
      <register type="IUserRepository" mapTo="UserRepository" />
      <!--<register type="IEmailNotificationRepository" mapTo="EmailNotificationRepository" />-->
      <!--<register type="IOTPRepository" mapTo="OTPRepository" />-->
      <register type="ILOVRepository" mapTo="LOVRepository" />
      <register type="IPushNotificationRepository" mapTo="PushNotificationRepository" />
      <register type="IUserRolePermissionRepository" mapTo="UserRolePermissionRepository" />
      <register type="IRoleRepository" mapTo="RoleRepository" />
      <register type="IPermissionRepository" mapTo="PermissionRepository" />
      <register type="IUserSessionRepository" mapTo="UserSessionRepository" />
      <register type="ILisenceRepository" mapTo="LisenceRepository" />
      <register type="ISettingRepository" mapTo="SettingRepository" />
      <register type="ICityRepository" mapTo="CityRepository" />
      <register type="ICountryRepository" mapTo="CountryRepository" />
      <register type="ICurrencyRepository" mapTo="CurrencyRepository" />
      <register type="IRoleCategoryRepository" mapTo="RoleCategoryRepository" />
      
      
      <register type="IAuthService" mapTo="AuthService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>

      <register type="IAuditService" mapTo="AuditService" />
      <register type="IUserService" mapTo="UserService" />
      <register type="ILOVService" mapTo="LOVService" />
      <register type="IUserRolePermissionService" mapTo="UserRolePermissionService" />
      <register type="IRoleService" mapTo="RoleService" />
      <register type="IPermissionService" mapTo="PermissionService" />
      <register type="IUserSessionService" mapTo="UserSessionService" />
      <register type="IConfigurationService" mapTo="ConfigurationService" />
      <register type="ISettingService" mapTo="SettingService" />
      <register type="IPushNotificationService" mapTo="PushNotificationService" />
      <register type="ILisenceService" mapTo="LisenceService" />
      <register type="ICityService" mapTo="CityService" />
      <register type="ICountryService" mapTo="CountryService" />
      <register type="ICurrencyService" mapTo="CurrencyService" />
      <register type="IRoleCategoryService" mapTo="RoleCategoryService" />
    </container>
  </unity>
</configuration>
