<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <!-- Start RequestInfo context type alias -->
    <alias alias="ISSHRequestInfo" type="Happibook.Core.Infrastructure.ISSHRequestInfo, Happibook.Core" />
    <alias alias="RequestInfo" type="Happibook.Core.Infrastructure.RequestInfo, Happibook.Core" />
    <!-- End RequestInfo context type alias -->

    <alias alias="ApplicationUserStore" type="Happibook.Core.Infrastructure.ApplicationUserStore, Happibook.Core" />
    <alias alias="ApplicationUserManager" type="Happibook.Core.Infrastructure.ApplicationUserManager, Happibook.Core"/>

    <alias alias="ApplicationRoleManager" type="Happibook.Core.Infrastructure.ApplicationRoleManager, Happibook.Core" />
    <alias alias="ApplicationRoleStore" type="Happibook.Core.Infrastructure.ApplicationRoleStore, Happibook.Core"/>

    <alias alias="IExceptionHelper" type="Happibook.Core.Infrastructure.IExceptionHelper, Happibook.Core" />
    <alias alias="ExceptionHelper" type="Happibook.Core.Infrastructure.ExceptionHelper, Happibook.Core"/>

    <!-- Start User-defined type alias for UnitOfWork -->
    <alias alias="ISSHUnitOfWork" type="Happibook.Core.IRepository.ISSHUnitOfWork, Happibook.Core" />
    <alias alias="UnitOfWork" type="Happibook.Repository.UnitOfWork, Happibook.Repository" />
    <!-- End User-defined type alias for UnitOfWork -->


    <!-- Start User-defined type aliases for Repositories -->
    <alias alias="IAuditRepository" type="Happibook.Core.IRepository.IAuditRepository, Happibook.Core" />
    <alias alias="AuditRepository" type="Happibook.Repository.AuditRepository, Happibook.Repository" />

    <alias alias="IUserRepository" type="Happibook.Core.IRepository.IUserRepository, Happibook.Core" />
    <alias alias="UserRepository" type="Happibook.Repository.UserRepository, Happibook.Repository" />

    <alias alias="IResourceKeyRepository" type="Happibook.Core.IRepository.IResourceKeyRepository, Happibook.Core" />
    <alias alias="ResourceKeyRepository" type="Happibook.Repository.ResourceKeyRepository, Happibook.Repository" />

    <alias alias="ILanguageResourceRepository" type="Happibook.Core.IRepository.ILanguageResourceRepository, Happibook.Core" />
    <alias alias="LanguageResourceRepository" type="Happibook.Repository.LanguageResourceRepository, Happibook.Repository" />

    <alias alias="ITemplateRepository" type="Happibook.Core.IRepository.ITemplateRepository, Happibook.Core" />
    <alias alias="TemplateRepository" type="Happibook.Repository.TemplateRepository, Happibook.Repository" />

    <alias alias="INotificationRepository" type="Happibook.Core.IRepository.INotificationRepository, Happibook.Core" />
    <alias alias="NotificationRepository" type="Happibook.Repository.NotificationRepository, Happibook.Repository" />

    <alias alias="IEmailNotificationRepository" type="Happibook.Core.IRepository.IEmailNotificationRepository, Happibook.Core" />
    <alias alias="EmailNotificationRepository" type="Happibook.Repository.EmailNotificationRepository, Happibook.Repository" />

    <alias alias="IPushNotificationRepository" type="Happibook.Core.IRepository.IPushNotificationRepository, Happibook.Core" />
    <alias alias="PushNotificationRepository" type="Happibook.Repository.PushNotificationRepository, Happibook.Repository" />

    <alias alias="ILOVRepository" type="Happibook.Core.IRepository.ILOVRepository, Happibook.Core" />
    <alias alias="LOVRepository" type="Happibook.Repository.LOVRepository, Happibook.Repository" />

    <alias alias="IResourceRepository" type="Happibook.Core.IRepository.IResourceRepository, Happibook.Core" />
    <alias alias="ResourceRepository" type="Happibook.Repository.ResourceRepository, Happibook.Repository" />

    <alias alias="IServiceModelRepository" type="Happibook.Core.IRepository.IServiceModelRepository, Happibook.Core" />
    <alias alias="ServiceModelRepository" type="Happibook.Repository.ServiceModelRepository, Happibook.Repository" />

    <alias alias="IDeviceRepository" type="Happibook.Core.IRepository.IDeviceRepository, Happibook.Core" />
    <alias alias="DeviceRepository" type="Happibook.Repository.DeviceRepository, Happibook.Repository" />

    <alias alias="IUserRolePermissionRepository" type="Happibook.Core.IRepository.IUserRolePermissionRepository, Happibook.Core" />
    <alias alias="UserRolePermissionRepository" type="Happibook.Repository.UserRolePermissionRepository, Happibook.Repository" />

    <alias alias="IRoleRepository" type="Happibook.Core.IRepository.IRoleRepository, Happibook.Core" />
    <alias alias="RoleRepository" type="Happibook.Repository.RoleRepository, Happibook.Repository" />

    <alias alias="IChangeRequestRepository" type="Happibook.Core.IRepository.IChangeRequestRepository, Happibook.Core" />
    <alias alias="ChangeRequestRepository" type="Happibook.Repository.ChangeRequestRepository, Happibook.Repository" />
    
    <alias alias="IReportRepository" type="Happibook.Core.IRepository.IReportRepository, Happibook.Core" />
    <alias alias="ReportRepository" type="Happibook.Repository.ReportRepository, Happibook.Repository" />

    <alias alias="IPermissionRepository" type="Happibook.Core.IRepository.IPermissionRepository, Happibook.Core" />
    <alias alias="PermissionRepository" type="Happibook.Repository.PermissionRepository, Happibook.Repository" />

    <alias alias="IUserReportPermissionRepository" type="Happibook.Core.IRepository.IUserReportPermissionRepository, Happibook.Core" />
    <alias alias="UserReportPermissionRepository" type="Happibook.Repository.UserReportPermissionRepository, Happibook.Repository" />

    <!-- End User-defined type aliases for Repositories -->

    <!-- Start User-defined type aliases for Services -->
    <alias alias="IAuditService" type="Happibook.Core.IService.IAuditService, Happibook.Core" />
    <alias alias="AuditService" type="Happibook.Service.AuditService, Happibook.Service" />

    <alias alias="IUserService" type="Happibook.Core.IService.IUserService, Happibook.Core" />
    <alias alias="UserService" type="Happibook.Service.UserService, Happibook.Service" />

    <alias alias="IConfigurationService" type="Happibook.Core.IService.IConfigurationService, Happibook.Core" />
    <alias alias="ConfigurationService" type="Happibook.Service.ConfigurationService, Happibook.Service" />

    <alias alias="INotificationService" type="Happibook.Core.IService.INotificationService, Happibook.Core" />
    <alias alias="NotificationService" type="Happibook.Service.NotificationService, Happibook.Service" />

    <alias alias="IEmailNotificationService" type="Happibook.Core.IService.IEmailNotificationService, Happibook.Core" />
    <alias alias="EmailNotificationService" type="Happibook.Service.EmailNotificationService, Happibook.Service" />

    <alias alias="ILOVService" type="Happibook.Core.IService.ILOVService, Happibook.Core" />
    <alias alias="LOVService" type="Happibook.Service.LOVService, Happibook.Service" />

    <alias alias="IAuthService" type="Happibook.Core.IService.IAuthService, Happibook.Core" />
    <alias alias="AuthService" type="Happibook.Service.AuthService, Happibook.Service" />

    <alias alias="IDeviceService" type="Happibook.Core.IService.IDeviceService, Happibook.Core" />
    <alias alias="DeviceService" type="Happibook.Service.DeviceService, Happibook.Service" />

    <alias alias="IBPMService" type="Happibook.Core.IService.IBPMService, Happibook.Core" />
    <alias alias="BPMService" type="Happibook.Service.BPMService, Happibook.Service" />

    <alias alias="IBPMHelper" type="Happibook.Core.Infrastructure.IBPMHelper, Happibook.Core" />
    <alias alias="BPMHelper" type="Happibook.Integration.BPMHelper, Happibook.Integration" />

    <alias alias="IUserRolePermissionService" type="Happibook.Core.IService.IUserRolePermissionService, Happibook.Core" />
    <alias alias="UserRolePermissionService" type="Happibook.Service.UserRolePermissionService, Happibook.Service" />

    <alias alias="IRoleService" type="Happibook.Core.IService.IRoleService, Happibook.Core" />
    <alias alias="RoleService" type="Happibook.Service.RoleService, Happibook.Service" />


    <alias alias="IChangeRequestService" type="Happibook.Core.IService.IChangeRequestService, Happibook.Core" />
    <alias alias="ChangeRequestService" type="Happibook.Service.ChangeRequestService, Happibook.Service" />

    <alias alias="IReportService" type="Happibook.Core.IService.IReportService, Happibook.Core" />
    <alias alias="ReportService" type="Happibook.Service.ReportService, Happibook.Service" />

    <alias alias="IPermissionService" type="Happibook.Core.IService.IPermissionService, Happibook.Core" />
    <alias alias="PermissionService" type="Happibook.Service.PermissionService, Happibook.Service" />

    <alias alias="IUserReportPermissionService" type="Happibook.Core.IService.IUserReportPermissionService, Happibook.Core" />
    <alias alias="UserReportPermissionService" type="Happibook.Service.UserReportPermissionService, Happibook.Service" />


    <!-- End User-defined type aliases for Services -->

    <container>
      
      <register type="ISSHRequestInfo" mapTo="RequestInfo" >
        <lifetime type="singleton"/>
      </register>
      <register type="ApplicationUserStore" mapTo="ApplicationUserStore" >
        <constructor>
          <param name="requestInfo" type="ISSHRequestInfo" />
        </constructor>
      </register>
      <register type="ApplicationRoleStore" mapTo="ApplicationRoleStore" >
        <constructor>
          <param name="requestInfo" type="ISSHRequestInfo" />
        </constructor>
      </register>

      <register type="ApplicationRoleManager" mapTo="ApplicationRoleManager" />
      <register type="ApplicationUserManager" mapTo="ApplicationUserManager" />
      <register type="IExceptionHelper" mapTo="ExceptionHelper" />
      
      <register type="ISSHUnitOfWork" mapTo="UnitOfWork" />

      <register type="IAuditRepository" mapTo="AuditRepository" />

      <register type="IUserRepository" mapTo="UserRepository" />

      <register type="IResourceKeyRepository" mapTo="ResourceKeyRepository" />
      <register type="ILanguageResourceRepository" mapTo="LanguageResourceRepository" />
      <register type="ITemplateRepository" mapTo="TemplateRepository" />
      <register type="INotificationRepository" mapTo="NotificationRepository" />
      <register type="IEmailNotificationRepository" mapTo="EmailNotificationRepository" />
      <register type="IPushNotificationRepository" mapTo="PushNotificationRepository" />
      <register type="ILOVRepository" mapTo="LOVRepository" />
      <register type="IResourceRepository" mapTo="ResourceRepository" />
      <register type="IDeviceRepository" mapTo="DeviceRepository" />
      <register type="IUserRolePermissionRepository" mapTo="UserRolePermissionRepository" />
      <register type="IRoleRepository" mapTo="RoleRepository" />

      <register type="IChangeRequestRepository" mapTo="ChangeRequestRepository" />

      <register type="IReportRepository" mapTo="ReportRepository" />
      <register type="IPermissionRepository" mapTo="PermissionRepository" />
      <register type="IUserReportPermissionRepository" mapTo="UserReportPermissionRepository" />


      <register type="IBPMService" mapTo="BPMService">
        
      </register>

      <register type="IBPMHelper" mapTo="BPMHelper">
      </register>

      <register type="IAuthService" mapTo="AuthService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      
      <register type="IAuditService" mapTo="AuditService" />

      <register type="IUserService" mapTo="UserService">
        
      </register>
        
      <register type="ILOVService" mapTo="LOVService">
      </register>
      
       <register type="IDeviceService" mapTo="DeviceService">
      </register>

      <register type="IUserRolePermissionService" mapTo="UserRolePermissionService">
      </register>
      
      <register type="IRoleService" mapTo="RoleService">
      </register>


      <register type="IChangeRequestService" mapTo="ChangeRequestService">
      </register>
      

      <register type="IReportService" mapTo="ReportService">
      </register>

      <register type="IPermissionService" mapTo="PermissionService">
      </register>

      <register type="IUserReportPermissionService" mapTo="UserReportPermissionService">
      </register>
  

      <register type="IConfigurationService" mapTo="ConfigurationService" />
      <register type="INotificationService" mapTo="NotificationService" />
      <register type="IEmailNotificationService" mapTo="EmailNotificationService" />
      
    </container>
  </unity>
</configuration>
